*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color:#000000;
    color:#F6F6F6;
    box-sizing:border-box;
}

.Titulo-destaque{
    color: #22D4FD
}

.apresentação{
    margin: 10%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.apresentação__conteudo{
    width: 315px;
}

.apresentacao__conteudoTitulo{
    font-size: 36px; 
}

.apresentacao__conteudoTexto{
    font-size: 24px;
}