:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__links{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.cabecalho__links:hover {
    justify-content: CENTER;
    box-shadow: inset 200px 0 0 0 #22D4FD;
    color: var(--cor-primaria);
    border-radius: 4px;
  }

  .apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.titulo_destaque{
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    line-height:135%;
}
.apresentacao__links{
    display: grid;
    width: 500px;
    grid-template-columns: 200px 200px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 1.5rem;
}


.apresentacao__links_navegacao{
    display: flex;
    justify-content: center; 
    gap: 16px;
    width: 50%;
    text-align: center;
    padding:10%  30%;
    border-radius: 8px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--corsecundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
    transition: background 0.5s;
}

.apresentacao__links_navegacao:hover,
.apresentacao__links_navegacao:focus {
    background: rgb(58, 58, 58);
}

.apresentacao__imagem{
    width: 50%;
    animation: go-back 5s infinite alternate;
}

@keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }

  .rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
         padding: 10%;  
    }
    .cabecalho__menu{
        justify-content: center;
        width: auto;
        padding: 5%;
    }
    .cabecalho__links{
        font-size: 1rem;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: 100%;
    }  
    .apresentacao__links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        gap: 30px;
        width: 100%;
    }
    .apresentacao__links_navegacao{
        display: flex;
        justify-content: center;
        gap: 16px;
        border: 2px solid var(--cor-terciaria);
        width: 50%;
        text-align: center;
        border-radius: 8px;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1.34rem 25%;
        text-decoration: none;
        color: var(--cor-secundaria);
        font-family: var(--fonte-secundaria);
    }
    .rodape{
        width: auto;
    }
    .apresentacao__imagem{
        width: 70%;
        height: 50%;
        animation: none;
    }
}

